<style>
  .page-sidebar {
    margin-top: 60px;
  }
</style>


<nav class="page-sidebar" data-pages="sidebar" id="sidebar" style="transform: translate3d(0px, 0px, 0px);">
  <div class="sidebar-menu">
    <!-- BEGIN SIDEBAR MENU ITEMS-->
    <div class="scroll-wrapper menu-items" style="position: relative;">

      <ul class="menu-items scroll-content scroll-scrolly_visible">
        <li class="m-t-20 ">
          <a href="#!/dashboard" class="detailed">
            <span class="title">Dashboard</span>
          </a>
          <span class="icon-thumbnail"><i class="pg-icon">home</i></span>
        </li>
        <li class="">
          <a href="#!/dispatcher" class="detailed">
            <span class="title">Dispatcher</span>
          </a>
          <span class="icon-thumbnail"><i class="pg-icon">inbox</i></span>
        </li>
        <li class="">
          <a href="#!/driver"><span class="title">Driver</span></a>
          <span class="icon-thumbnail"><i class="pg-icon">social</i></span>
        </li>
        <li class="">
          <a href="#!/truck">
            <span class="title">Truck</span>
          </a>
          <span class="icon-thumbnail"><i class="pg-icon">brush</i></span>
        </li>
        <li class="">
          <a href="#!/trailer">
            <span class="title">Trailer</span>
          </a>
          <span class="icon-thumbnail"><i class="pg-icon">card</i></span>
        </li>
        <li class="">
          <a href="#!/load">
            <span class="title">Loads</span>
          </a>
          <span class="icon-thumbnail"><i class="pg-icon">layout</i></span>
        </li>
        <li>
          <a href="javascript:void(0)" id="manage" class="manage-menu"><span class="title">Manage</span>
            <span class=" arrow"></span></a>
          <span class="icon-thumbnail"><i class="pg-icon">grid</i></span>
          <ul class="sub-menu" id="sub">
            <li class="">
              <a href="#!/dispatcher">Dispatcher</a>
              <span class="icon-thumbnail"><i class="pg-icon">ds</i></span>
            </li>
            <li class="">
              <a href="#!/driver">Driver</a>
              <span class="icon-thumbnail"><i class="pg-icon">dr</i></span>
            </li>
            <li class="">
              <a href="#!/truck">Truck</a>
              <span class="icon-thumbnail"><i class="pg-icon">tk</i></span>
            </li>
            <li class="">
              <a href="#!/trailer">Trailer</a>
              <span class="icon-thumbnail"><i class="pg-icon">tr</i></span>
            </li>
            <li class="">
              <a href="#!/load">Loads</a>
              <span class="icon-thumbnail"><i class="pg-icon">ld</i></span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- END SIDEBAR MENU -->
</nav>
